body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.signin-container, .moderator-only, .viewer-only {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
}

form, table {
    width: 100%;
}

input, select, button{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#student-form input {
    width: 280px;
}